<!DOCTYPE html>
<html>
  <head>
    <title>Stanley</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

		<div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">STANLEY</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/work">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <%= yield %>
	
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<h4>My Bunker</h4>
						<p>
							Some Address 987,<br/>
							+34 9054 5455, <br/>
							Madrid, Spain.
						</p>
					</div><!-- /col-lg-4 -->
					
					<div class="col-lg-4">
						<h4>My Links</h4>
						<p>
							<a href="#">Dribbble</a><br/>
							<a href="#">Twitter</a><br/>
							<a href="#">Facebook</a>
						</p>
					</div><!-- /col-lg-4 -->
					
					<div class="col-lg-4">
						<h4>About Stanley</h4>
						<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
					</div><!-- /col-lg-4 -->
				
				</div>
			
			</div>
		</div>

  </body>
</html>
